.clients {
  @extend %section;

  &__container {
    @extend %container;
  }
  &__title {
    @extend %title;
  }

  &__content {
    display: flex;
    padding: 0px;
  }

  &__content > li:last-child {
    margin-right: 15px;
  }
  &__content > li {
    display: flex;
    justify-content: space-between;
  }
  &__content > li:first-child {
    margin-left: 30px;
  }

  &__picture {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: white;
    fill: #afb1b8;

    &:active,
    &:hover,
    &:focus {
      fill: var(--primary-color);
      border-color: var(--primary-color);
      transition: transform 250ms var(--transition);
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .clients__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .clients__content li {
    margin: 0px;
  }
  .clients__content > li:last-child {
    margin-right: 0px;
  }

  .clients__content > li:first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__content {
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .clients__content li {
    margin: 30px;
    display: flex;
  }
}
