.footer-social {
  margin: 72px 0px;
}
.footer-social__icons {
  display: flex;
  justify-content: flex-start;
  padding: 0px;

  &--special {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin: 5px;
    fill: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus,
    &:active {
      background-color: #2196f3;
      transition: transform 250ms var(--transition);
    }
  }
}

.footer-social__title {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  padding: 0px 0px 20px 0;
}

.footer {
  display: flex;
  background-color: #2f303a;
  height: 252px;

  &__container {
    display: block;
    width: 300px;
    margin-left: 215px;
    margin: 60px 0px 0px 608px;
  }

  &__address {
    color: #ffffff;
    line-height: 1.71;
    padding-top: 20px;
  }

  &__address--padding {
    padding: 0px;

    & > li {
      padding: 9px 0px;
    }
  }
  &__icon--size {
    width: 44px;
    height: 44px;
    fill: white;
  }
}

.nav__link--contact-color {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter {
  margin: 0px 0px 20px 155px;
  display: flex;
  justify-self: baseline;
  align-items: baseline;

  &__container {
    @extend %container;
  }
  &__title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 16px;
    padding: 0px 0px 12px 0px;
  }
  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(47, 48, 58, 1);
    color: white;
  }
}
.newsletter-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
  fill: white;
  cursor: pointer;
  padding-top: 2px;

  &:hover,
  &:active,
  &n:focus {
    background-color: white;
    color: #2196f3;
    fill: #2196f3;
    transform: scale(1.05) translateY(0.125rem);
    transition: transform 250ms var(--transition);
  }

  &__icon {
    display: inline-flex;
    justify-content: baseline;
    align-items: baseline;
    height: 24px;
    width: 24px;
    margin-left: 24px;
  }
}
