%container {
  width: 1200px;
  margin: auto;
}
%section {
  padding: 94px 0px;
}

%title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}
